header{
padding-bottom: 30px;
}
.nav-tabs {
    background-image: linear-gradient( rgb(255, 255, 255) ,rgb(255, 168, 6));
}

.nav-link{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.h1{
    text-align: center;  
}
a{
    color: #646464;
}
a.hower{
    color: #646464; 
    text-decoration: 1px solid inherit;    
}
.bg-danger{
    color: #fff ;
}




